@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #FF5733;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #FFDDC1;
}

li a {
    display: block;
    color: #FF5733;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF6F61;
    color: #FFFFFF;
}
